<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPacienteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1489/PacienteService/PacienteService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPacienteService"
                contract="WSPaciente.IPacienteService" name="BasicHttpBinding_IPacienteService" />
        </client>
    </system.serviceModel>
</configuration>